h1{
    text-align: center;
    font-size: 36px;
    margin: 24px auto;
}
#listRooms_ {
  height: 100hv;
  display: flex;
  justify-content: center;
  .listRooms_content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 120px;
    .listRooms_items{
        flex-basis: calc(25% - 0px);
        margin: 0 auto;
    }
  }
}
