#profile_{
    display: flex;
    flex-direction: row;
    height: 420px;
    .profile_content_left{
        width: 30%;
    }
    .profile_content_right{
        width: 70%;
        .profile_content_info{
            display: flex;
            justify-content: space-between;
            .content_info_button{
                display: flex;
                align-items: center;
                button{
                    height: 20px;
                    
                }
            }
        }
    }
}